.message-form{
    display:flex;
    width: 600px;
    height: 250px;
    margin:0px auto;
    border:1px solid rgb(155, 155, 155);
    background-color: rgb(209, 209, 209);
    color:rgb(36, 36, 36);
    font-size: 13px;
}
*{
    margin:0px;
    padding: 0px;
    background-color: rgb(214, 214, 214);
}
.message-form table{
    width: 350px;
}
.message-form table tr td{
    background-color: rgb(185, 184, 184);
    padding: 3px;
}
.message-form table tr td:first-of-type{
    background-color: gray;
}
.message-form table tr:last-of-type td{
    background-color: gray;
    text-align: center;
}
.message-form .post-message{
    height:245px;
    min-height:245px;
    max-height:245px;

    width:245px;
    min-width:245px;
    max-width:245px;
}
.message-form button{
    width: 100px;
    height: 20px;
}

.message-content{
    width: 1100px;
    border: 0.2px solid black;
    margin-left: 20px;
    background-color: rgb(161, 161, 161);
}
.message-content .table-inner{
    width: 1030px;
    margin-left: 50px;
    margin-right: 20x;
    border-top: 0.2px solid black;
    background-color: rgb(161, 161, 161);
}
.message-content .table-inner img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: rgb(161, 161, 161);

}
.message-content .table-inner td{
    background-color: rgb(161, 161, 161);

}
.message-content .table-main{
    background-color: rgb(161, 161, 161);
}
.message-content .table-main img{
    background-color: rgb(161, 161, 161);
}
.message-content .table-main td{
    background-color: rgb(161, 161, 161);
}
.message-content .table-main img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.nav-bar{
    margin:0px auto;
    text-align: center;
}
.smallimg{
    display:flex;
    width: 300px;
    height: 200px;
    justify-content: space-around;
    object-fit: contain;
    background-color: rgb(161, 161, 161);
    text-align: center;
    align-items: center;
}
.smallimg-item{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;

}
