.message-form{
    display:flex;
    flex-direction: row;
    width: 600px;
    height: 250px;
    margin:0px auto;
    border:1px solid rgb(155, 155, 155);
    background-color: rgb(209, 209, 209);
    color:rgb(36, 36, 36);
    font-size: 13px;
}
*{
    margin:0px;
    padding: 0px;

}
html, input, textarea, option, button, select{
    background-color: rgb(214, 214, 214);
}
input, textarea, option, button, select{
    border: 0.01px solid gray;
    border-radius: 4px;
}
.message-form table{
    width: 350px;
}
.message-form table tr td{
    background-color: rgb(185, 184, 184);
    padding: 3px;
}
.message-form table tr td:first-of-type{
    background-color: gray;
}
.message-form table tr:last-of-type td{
    background-color: gray;
    text-align: center;
}
.message-form .post-message{
    height:245px;
    min-height:245px;
    max-height:245px;

    width:245px;
    min-width:245px;
    max-width:245px;
}
.message-form button{
    width: 100px;
    height: 20px;
}


.message-content{
    width: 1100px;
    border: 0.2px solid black;
    margin-left: 20px;
    font-size: 11px;
    background-color: rgb(161, 161, 161);
}
.message-content .table-main{
    width: 1100px;
    height: fit-content;
    font-size: 12px;
    margin-left: auto;
    margin-right: 10px;
}
.topic-content{
    width: 1100px;
}
.message-content .table-main td span{
    font-size: 15px;
    font-weight: bold;

}
.message-content .table-inner td span{
    font-size: 18px;
    font-weight: bold;

}
.message-content .table-inner{
    width: 950px;
    height: fit-content;
    font-size: 11px;
    margin-left: auto;
    margin-right: 10px;
    border-top: 0.2px solid black;

}
.message-content .table-inner img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.message-content .table-main img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.message-content .table-inner video{
    width: 100px;
    height: 100px;

}
.message-content .table-main video{
    width: 150px;
    height: 150px;

}
.nav-bar{
    margin:0px auto;
    text-align: center;
}
.smallimg{
    display:flex;
    width: 100px;
    height: 50px;
    justify-content: space-around;
    object-fit: contain;

    text-align: center;
    align-items: center;
}
.smallimg-item{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;

}
.table-inner .smallimg{
    display:flex;
    width: 60px;
    height: 30px;
}
.table-inner .smallimg-item{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.info-reply td:last-of-type{
    text-align: right;
}
